body {
    background-image: url("images/start.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(165, 0, 0, 0.646);
    width: 100%;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;

}

h2 {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding-bottom: 10px;
    font-style: italic;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px ;
}

main label {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
}
main input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 200px;
}

main button {
    background-color: rgba(165, 0, 0, 0.646);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}


footer {
    background-color: rgba(165, 0, 0, 0.646);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}