body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    z-index: 20;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  position: relative;
  height: 20px;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.5em;
}

.logo {
  font-size: 1.5em;
}

.hamburger {
  font-size: 2em;
  cursor: pointer;
  z-index: 1001;
}

.nav-links {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #222;
  width: 200px;
  display: none;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
  border-radius: 0 0 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.nav-links a:hover {
  background-color: #444;
  border-radius: 5px;
}

.nav-links.show {
  display: flex;
}

audio {
    display: none; 
}

#background-music{
  z-index: 30;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/home-achtergrond.jpg');
    background-size: cover;
    background-position: center;
}

.deur-container {
    position: absolute;
    top: 84%;
    left: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

#deur-knop {
    opacity: 0.9;
    transition: transform 0.3s ease;
    pointer-events: auto;
    display: block; 
    width: 250px;
    height: 250px;
}

.deur-container:hover img {
  transform: scale(1.05);
}
